@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #3d5a80;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 14px;
}

pre {
  min-height: 450px;
}

.fira {
  font-family: "Fira Code", monospace;
}

.shadow_custom {
  box-shadow: 0px 1.8px 2.2px rgba(0, 0, 0, 0.011),
    0px 4.3px 5.3px rgba(0, 0, 0, 0.016), 0px 8.1px 10px rgba(0, 0, 0, 0.02),
    0px 14.5px 17.9px rgba(0, 0, 0, 0.024),
    0px 27.2px 33.4px rgba(0, 0, 0, 0.029), 0px 65px 80px rgba(0, 0, 0, 0.04);
}
